@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 10% 97%;
    --foreground: 221 39% 11%;

    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 221 39% 11%;

    --primary: 85 85% 35%;
    --primary-foreground: 0 0% 100%;

    --secondary: 85 80% 95%;
    --secondary-foreground: 85 85% 25%;

    --muted: 85 10% 94%;
    --muted-foreground: 215 16% 47%;

    --accent: 85 80% 44%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 85 20% 90%;
    --input: 85 20% 90%;
    --ring: 85 85% 35%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 120 18% 5%;
    --foreground: 85 75% 89%;

    --card: 120 11% 8%;
    --card-foreground: 85 75% 89%;

    --popover: 120 11% 8%;
    --popover-foreground: 85 75% 89%;

    --primary: 83 77% 55%;
    --primary-foreground: 120 18% 5%;

    --secondary: 120 15% 12%;
    --secondary-foreground: 85 75% 89%;

    --muted: 120 15% 12%;
    --muted-foreground: 85 30% 60%;

    --accent: 83 77% 55%;
    --accent-foreground: 120 18% 5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 85 75% 89%;

    --border: 120 15% 15%;
    --input: 120 15% 15%;
    --ring: 83 77% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
